/* Importing Google Fonts - Inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#F4F0FF, #DACDFF);
}

#chatbot-toggler{
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  background: #6D4;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

#chatbot-toggler span{
  position: absolute;
  color: #fff;
}

.container.show-chatbot #chatbot-toggler{
  transform: rotate(90deg);
}

#chatbot-toggler span:last-child,
.container.show-chatbot #chatbot-toggler span:first-child{
  opacity: 0;
}
.container.show-chatbot #chatbot-toggler span:last-child{
  opacity: 1;
}

.chatbot-popup{
  position: fixed;
  opacity: 0;
  pointer-events: none;
  bottom: 90px;
  right: 35px;
  width: 420px;
  transform: scale(0.2);
  background: #fff;
  overflow: hidden;
  border-radius: 15px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}

.container.show-chatbot .chatbot-popup{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chatbot-popup .chat-header{
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #6D4;
}

.chatbot-popup .header-info{
  display: flex;
  gap: 10px;
  align-items: center;

}

.header-info svg{
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #6D4;
  background: #fff;
  border-radius: 50%;
}

.header-info .logo-text{
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header button{
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2px;
  border-radius: 50%;
  margin-right: -10px;
  background: none;
  transition: 0.2s ease;

}

.chat-header button:hover{
  background: rgb(55, 136, 35);
}

.chat-body{
  padding: 25px 22px;
  height: 420px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 82px;
  scrollbar-width: thin;
  scrollbar-color: #DDD3F9 transparent;
}

.chat-body .message{
  display: flex;
  align-items: center;
  gap: 11px; 
}

.chat-body .message.error .message-text{
  color: #ff0000;

}

.chat-body .bot-message svg{
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #fff;
  background: #6D4;
  border-radius: 50%;
  margin-bottom: 2px;
  align-self: flex-end;
}

.chat-body .message .message-text{
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}

.chat-body .bot-message .message-text{
  background: rgb(171, 224, 158);
  border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message{
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .user-message .message-text{
  background: rgb(117, 211, 91);
  border-radius: 13px 13px 3px 13px;
  color: #fff;

}

.chat-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}

.chat-footer .chat-form{
  display: flex;
  align-items: center;
  background: #fff;
  outline: 1px solid #CCCCE5;
  border-radius: 32px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}
.chat-footer .chat-form:focus-within{
  outline: 2px solid #6D4;
}

.chat-form .message-input{
  border: none;
  outline: none;
  background: none;
  height: 47px;
  width: 100%;
  padding: 0 17px;
  font-size: 0.95rem;
}

.chat-form button{
  height: 35px;
  width: 35px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.15rem;
  flex-shrink: 0;
  margin-right: 6px;
  border-radius: 50%;
  background: #6D4;
  transform: 0.2s ease;
  display: none;
}

.chat-form button:hover{
  background: rgb(55, 136, 35);
}

.chat-form .message-input:valid ~ button{
  display: block;

}

@media (max-width:520px){
  #chatbot-toggler{
    right:20px;
    bottom: 20px;
  }
  .chatbot-popup{
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot-popup .chat-header{
    padding: 12px 15px;
  }

  .chat-body{
    height: calc(90% - 55px);
    padding: 25px 15px;
  }

  .chat-footer{
    padding: 10px 15px 15px;
  }

}